header{
    text-align: center;
    .navigation{

    }
}
main{
    text-align: center;
    font-size: 1.2em;
}
footer{
    text-align: center;
    font-size: 0.9em;
}
*{
    box-sizing: border-box;
    background-color:#f5f5dc;
}