.container-1{
    border: solid;
    background-color: blueviolet;
    color: antiquewhite;
    position: relative;

    width: 200px;
    text-align: center;
    margin: 20px;
    z-index: 2 ;

}
.container-2{
    border: solid;
    color: antiquewhite;
    background-color: brown;
    position: relative;

    width: 200px;
    margin: 20px;
    text-align: center;
    bottom: 50px;
    z-index: 3;

}
.container-3{
    border: solid;
    color: antiquewhite;
    background-color: blue;
    position: relative;

    width: 200px;
    text-align: center;
    margin: 20px;
    bottom: 110px;
    z-index: 1;
}