        div img{
            width: 200px;
            height: 150px;
            position: absolute;
   
        }
        .c1{
            
            left: 20px;
            top: 50px;
        }
        .c2{
            left: 120px;
            top: 170px;

        }
                
        .c3{
            left: 240px;
            top: 300px;          
        }
        .c4{
            left: 350px;
            top: 430px;
        }
        .c5{
            left: 470px;
            top: 550px;
        }
        div{
            margin: 1;
            align-items: center;
        }