.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.sidebar{
    flex: 1;
    background-color: blue;

}
.column-content{
    flex: 2;
    background-color: blueviolet;

}