.container{
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 14px rgb(0, 0, 0,0.18);
    h2{
        color: brown;
    }

}
@media(min-width:750px){
    .container{flex-direction: row;
        box-shadow: 0 4px 14px rgb(0, 0, 0,0.18);
}
    .sidebar{flex:1; margin-right: 20px;
        box-shadow: 0 4px 14px rgb(0, 0, 0,0.18);
}
    .column-content{flex:2;}

}